<% content_for :title do %>
  <% if current_user.present? %>
    <%= current_user.name %> - monolist
  <% else %>  
    monolist
  <% end %>
<% end %>
<% content_for :tags do %>
  <% if current_user.present? %>
    <meta name="description" content="<%= current_user.name %> のモノページ。<%= current_user.name %> の欲しいモノ、持ってるモノを表示しています。" />
  <% else %>
    <meta name="description" content="みんなの欲しいモノ、持ってるモノを表示しています。" /> 
  <% end %>
<% end %>

<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>素敵なモノと出会う場所</h1>
      <%= link_to 'モノリストを始める' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%= render 'items/list' , items: @items %>